<form [formGroup] = "form">
  <div class="form-group">
    <label for="exampleInputEmail1">Tipo Documento</label>
    <select class="custom-select"
        id="inputGroupSelect01"
        [class.is-invalid]="tipo"
        formControlName="tipo">
      <option value="C">Cedula Ciudadania</option>
    </select>
    @if(tipo){
    <small id="emailHelp" class="form-text text-muted">el campo es requerido.</small>
    }
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Numero Documento</label>
    <input type="text" class="form-control" [class.is-invalid]="numeroCedula"
    formControlName="numeroCedula">
    @if(numeroCedula){
      <small id="emailHelp" class="form-text text-muted">el campo es requerido.</small>
      }
  </div>
  <button (click)="enviar()" [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>

<div *ngIf="cliente; else noData">
  <h2>Información del Cliente</h2>
  <p>Primer Nombre: {{ cliente.primerNombre }}</p>
  <p>Segundo Nombre: {{ cliente.segundoNombre }}</p>
  <p>Primer Apellido: {{ cliente.primerApellido }}</p>
  <p>Segundo Apellido: {{ cliente.segundoApellido }}</p>
  <p>Teléfono: {{ cliente.telefono }}</p>
  <p>Dirección: {{ cliente.direccion }}</p>
  <p>Ciudad de Residencia: {{ cliente.ciudadResidencia }}</p>
</div>
<ng-template #noData>
  <p>{{ errorMessage || 'No se encontró la información del cliente.' }}</p>
</ng-template>
